<p>
  <mat-toolbar color="primary">
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    <span class="example-spacer"></span>
    <button
      mat-button
      (click)="createForm()"
      routerLinkActive="list-item-active"
    >
      Create New Form
    </button>
    <button mat-button (click)="viewForm()" routerLinkActive="list-item-active">
      View your form
    </button>
    <button mat-raised-button color="warn">Logout</button>
  </mat-toolbar>
</p>
